---
layout: default
---

<div class="pb-48 w-full bg-primary">

  {% include menu.html %}

  <div class="container mx-auto px-4">

    <span class="h1">Hello</span>
    <p style="font-family: 'Roboto Slab', serif;" class="mb-8">My name is <span class="font-bold">Corbin Featherstone</span>, I'm a multi-disciplinary <span class="font-bold">Senior Graphic Designer</span> with over a decade of hard <span class="font-bold">industry experience</span>.</p>

    {% include part/btn.html
      url="/contact"
      text="contact"
      ico="arrow-right"
      alt="true"
    %}

    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>


<div class="container mx-auto px-4">

  <div class="flex flex-wrap my-32">
    <div class="w-1/2"><h2 class="mr-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2></div>
    <div class="w-1/2"><p class="ml-6 pt-4"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  </div>


  <div class="flex flex-wrap mb-32">
    <div class="w-1/3 text-center">
      <div class="bg-white mx-4 shadow-md p-10"><i class="fas fa-drafting-compass text-4xl text-grey-dark pb-3"></i><h6 class="pb-2 font-bold">Lorem Ipsum doler est</h6><p class="text-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
    </div>
    <div class="w-1/3 text-center">
      <div class="bg-white mx-4 shadow-md p-10"><i class="fas fa-drafting-compass text-4xl text-grey-dark pb-3"></i><h6 class="pb-2 font-bold">Lorem Ipsum doler est</h6><p class="text-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
    </div>
    <div class="w-1/3 text-center">
      <div class="bg-white mx-4 shadow-md p-10"><i class="fas fa-drafting-compass text-4xl text-grey-dark pb-3"></i><h6 class="pb-2 font-bold">Lorem Ipsum doler est</h6><p class="text-sm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
    </div>
  </div>

</div>


<div class="flex my-32 items-center">
  <div class="w-1/2">
    <div class="px-64">
    <h2 class="">Printed Magazine Spreads</h2><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="inline-block py-3" href="*">View All <i class="fas fa-arrow-right"></i></a>
    <p>(image links to specific portfolio items)</p>
    </div>
  </div>
  <div class="w-1/2">
    {% include part/img.html path="portfolio/unplugged.jpg" resize="smartcrop" xl="w=2800&h=2800" lg="w=2800&h=2800" md="w=2800&h=2800" sm="w=2800&h=2800" alt="" class="" %}
  </div>
</div>
