---
layout: default
---

<div class="h-screen w-full bg-primary">

  {% include menu.html %}

  <div class="container mx-auto px-4">

    <span class="h1">Hello</span>
    <p style="font-family: 'Roboto Slab', serif;" class="mb-8">My name is <span class="font-bold">Corbin Featherstone</span>, I'm a multi-disciplinary <span class="font-bold">Senior Graphic Designer</span> with over a decade of hard <span class="font-bold">industry experience</span>.</p>

    {% include part/btn.html
      url="/contact"
      text="contact"
      ico="arrow-right"
      alt="true"
    %}

    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>


<div class="container mx-auto px-4">

</div>

<div class="container mx-auto px-4">
<p>This is some text</p>
  {% include part/img.html
  path="portfolio/img_01.jpg"
  resize="smartcrop"
  xl="w=3000&h=3000"
  lg="w=3000&h=3000"
  md="w=3000&h=3000"
  sm="w=3000&h=3000"
  alt=""
  class="p-2 rounded m-8 bg-white shadow"
  %}
<p>This is some text</p>
  {% include part/img.html
  path="portfolio/img_02.jpg"
  resize="smartcrop"
  xl="w=3000&h=3000"
  lg="w=3000&h=3000"
  md="w=3000&h=3000"
  sm="w=3000&h=3000"
  alt=""
  class="p-2 rounded m-8 bg-white shadow"
  %}
<p>This is some text</p>
  {% include part/img.html
  path="portfolio/img_03.jpg"
  resize="smartcrop"
  xl="w=3000&h=3000"
  lg="w=3000&h=3000"
  md="w=3000&h=3000"
  sm="w=3000&h=3000"
  alt=""
  class="p-2 rounded m-8 bg-white shadow"
  %}
<p>This is some text</p>
  {% include part/img.html
  path="portfolio/img_04.jpg"
  resize="smartcrop"
  xl="w=3000&h=3000"
  lg="w=3000&h=3000"
  md="w=3000&h=3000"
  sm="w=3000&h=3000"
  alt=""
  class="p-2 rounded m-8 bg-white shadow"
  %}
<p>This is some text</p>
  {% include part/img.html
  path="portfolio/img_05.jpg"
  resize="smartcrop"
  xl="w=3000&h=3000"
  lg="w=3000&h=3000"
  md="w=3000&h=3000"
  sm="w=3000&h=3000"
  alt=""
  class="p-2 rounded m-8 bg-white shadow"
  %}
<p>This is some text</p>
  {% include part/img.html
  path="portfolio/img_06.jpg"
  resize="smartcrop"
  xl="w=3000&h=3000"
  lg="w=3000&h=3000"
  md="w=3000&h=3000"
  sm="w=3000&h=3000"
  alt=""
  class="p-2 rounded m-8 bg-white shadow"
  %}
<p>This is some text</p>
</div>
