---
layout: default
---

<div class="bg-primary h-screen">

    {% include menu.html %}

  <div class="container h-full mx-auto px-4 flex flex-wrap items-center relative">

    <div class="w-full my-40 lg:w-1/4 lg:-mr-40 lg:ml-20 z-20">
      <h2 class="">Stand out from the crowd with a unique identity.</h2>
      <p class="">An <span class="font-bold">experienced graphic designer</span> will protect your brand and deliver the very best <span class="font-bold">persistent visuals</span> for your business, across <span class="font-bold">multiple platforms.</span></p>
    </div>

    <div class="h-full lg:w-3/4 z-0 overflow-hidden">
      {% include part/img.html
      path="bad_juju_web4.jpg"
      resize="fit"
      xl="h=1900"
      lg="h=1800"
      md="h=1038"
      sm="h=1038"
      alt="Bad Juju, beer brand by Corbin Featherstone"
      class="lg:-my-5"
      %}
    </div>

  </div>

</div>

<div class="container mx-auto px-4 h-screen flex content-center flex-wrap">
  {% include part/quote-lg.html
  quote="...the truth is, it's not the idea, it's never the idea, it's always what you do with it."
  attribute="Neil Gaiman"
  %}
</div>



  {% include schema_personal.json %}
