---
layout: default
---

<div class="h-screen w-full relative bg-primary">

    {% include menu.html %}

    <div class="absolute top-0 right-0 mr-32 -mt-10 z-0 overflow-hidden">
    {% include part_img.html path="bad_juju_web3.jpg" xl-w="940" xl-h="980" lg-w="350" lg-h="350" md-w="300" md-h="300" alt="Homepage image test" class=" overflow-hidden" %}
    </div>

  <div class="container mx-auto px-4 h-full ">

    <div class="block w-full lg:w-1/2 my-auto">
    <h1 class="text-4xl leading-tight font-bold mb-4">Improve your brand recognition with a distinct, consistent visual identity.</h1>
    <p class="mb-8">Building a recognizable brand presence is key to customer retention. An <span class="font-bold">experienced graphic designer</span> will protect your brand and deliver the very best <span class="font-bold">persistent visuals</span> for your business, across <span class="font-bold">multiple platforms.</span></p>
    <a class="inline-block bg-black rounded px-8 py-4 text-xs tracking-widest uppercase text-primary" href="/contact" style="font-family: 'Montserrat', sans-serif;">Contact</a>
    </div>

  </div>

</div>
