---
layout: default
---

<div class="bg-primary h-screen">
  {% include menu.html %}
  <div class="container h-screen mx-auto px-4 flex items-center">
    <div class="w-full my-40 xl:w-1/4 xl:-mr-40 xl:ml-20 md:w-2/3 z-20">
      <!-- Main Headline -->
      <h1 class="">Stand out from the crowd.</h1>
      <p class="">An <span class="font-bold">experienced graphic designer</span> will protect your brand and deliver the very best <span class="font-bold">persistent visuals</span> for your business, across <span class="font-bold">multiple platforms.</span></p>
      <div class="flex flex-wrap items-center">
        {% include partial/btn.html
          url="assets/file/corbin_featherstone.pdf"
          text="Work"
          alt="true"
          style="my-4"
          icopost="arrow-right"
        %}
      </div>
    </div>
    <div class="h-full hidden xl:block xl:w-3/4 w-full z-0 overflow-hidden">
      {% include partial/img.html
      path="bad_juju_web4.jpg"
      resize="fit"
      xl="w=1350"
      lg="w=1200"
      md="w=20"
      sm="w=20"
      alt="Bad Juju, beer brand by Corbin Featherstone"
      class=""
      %}
    </div>
  </div>
</div>

<div class="container min-h-screen flex items-center">
  {% include partial/quote-lg.html
  quote="...the truth is, it's not the idea, it's never the idea, it's always what you do with it."
  attribute="Neil Gaiman"
  %}
</div>

  {% include schema_personal.json %}
