---
layout: default
---

<div class="h-screen w-full bg-primary">

  {% include menu.html %}

  <div class="container mx-auto px-4">

    <span class="h1">Portfolio</span>

    <ul>
      {% assign rando = site.portfolio | sample:2 %}
      {% for portfolio in rando %}
        <li>
          <a href="{{ portfolio.url }}">{{ portfolio.title }} </a>
        </li>
      {% endfor %}
    </ul>

    <div class="flex flex-wrap">
        {% assign portcat = site.portfolio | where: "tags", "portfolio" | sample:3 %}
        {% for portfolio in portcat %}
            <a href="{{ portfolio.url }} ">
              {% include part/img.html
                path=portfolio.imghero
                resize="smartcrop"
                xl="w=200&h=200"
                lg="w=200&h=200"
                md="w=200&h=200"
                sm="w=200&h=200"
                class="p-2 m-4 bg-white"
              %}
            </a>
        {% endfor %}
    </div>

<div class="flex flex-wrap">

    {% for portfolio in site.portfolio %}
        <a href="{{ portfolio.url }}">
          {% include part/img.html
            path=portfolio.imghero
            resize="smartcrop"
            xl="w=230&h=230"
            lg="w=230&h=230"
            md="w=230&h=230"
            sm="w=230&h=230"
            class="p-2 m-4 bg-white"
          %}
        </a>
    {% endfor %}
</div>

<div class="">
  {% assign posts = site.posts | sample:3 %}
  {% for post in posts %}
  <h2 class="p2">{{ post.title }}</h2>
  {% endfor %}
</div>

  </div>

</div>


<div class="container mx-auto px-4">

</div>
