---
layout: default
---

<div class="h-screen w-full bg-primary">

  {% include menu.html %}

  <div class="container mx-auto px-4">

    <span class="h1">Portfolio</span>

    <ul>
      {% for portfolio in site.portfolio %}
        <li>
          <a href="{{ portfolio.url }}">{{ portfolio.title }}</a>
        </li>
      {% endfor %}
    </ul>


<div class="flex flex-wrap">
    {% for portfolio in site.portfolio %}
      <div class="w-full md:w-1/2 xl:w-1/4">
        <a href="{{ portfolio.url }}">
          {% include part/imgall_portfolio.html
            resize="fit"
            xl="w=200&h=200"
            lg="w=200&h=200"
            md="w=200&h=200"
            sm="w=200&h=200"
            class="p-2 bg-white"
          %}
        </a>
      </div>
    {% endfor %}
</div>


  </div>

</div>


<div class="container mx-auto px-4">

</div>
