---
layout: default
---

<div class="h-screen w-full bg-primary">

  {% include menu.html %}

  <div class="container mx-auto px-4">

    <span class="h1">Portfolio</span>

    <ul>
      {% assign rando = site.portfolio | sample:2 %}
      {% for portfolio in rando %}
        <li>
          <a href="{{ portfolio.url }}">{{ portfolio.title }} </a>
        </li>
      {% endfor %}
    </ul>


<div class="flex flex-wrap">

    {% for portfolio in categories[one] %}
        <a href="{{ portfolio.url }}">
          {% include part/imgall_portfolio.html
            resize="fit"
            xl="w=280&h=280"
            lg="w=280&h=280"
            md="w=280&h=280"
            sm="w=280&h=280"
            class="p-2 m-4 bg-white"
          %}
        </a>
    {% endfor %}
</div>

<div class="">
  {% assign posts = site.posts | sample:3 %}
  {% for post in posts %}
  <h2 class="p2">{{ post.title }}</h2>
  {% endfor %}
</div>

  </div>

</div>


<div class="container mx-auto px-4">

</div>
