/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: 'Roboto Slab', serif;
  background: #F5F5F5;
  @apply text-black leading-relaxed;
}

p a {
  @apply font-bold;
  }

p a:hover {text-decoration: underline;}

h1, .h1 {
  @apply text-6xl leading-none font-bold mb-4 mt-6 inline-block;
  }

h2, .h2 {
  @apply text-4xl leading-tight font-bold mb-3 mt-5 inline-block;
  }

h5, .h5 {
  font-family: 'Montserrat', sans-serif;
  @apply text-xs tracking-widest uppercase;
  }

.menu a {
  @apply text-black py-2 mx-4 text-sm tracking-wider uppercase ;
  }

.menu a:hover {
  @apply border-black border-b-4 ;
  }

.menu li.active a {
  @apply border-black border-b-4;
  }

/* https://elfsight.com/social-media-share-buttons/examples/ */
.page-hero {
  background-image: linear-gradient(225deg, #bc35d8 0%, #fd3358 49%, #FFCA2E 100%);
  color: #fff;
  position: relative;
  overflow: hidden;
  @apply -z-20
  }

.page-hero:before {
  width: 1538px;
  height: 1538px;
  background-image: radial-gradient(circle 935px at 73.95% 7.83%, #ffff4f 0%, rgba(254,255,39,0) 100%);
  top: -4px;
  }

.page-hero:after {
  width: 942px;
  height: 942px;
  background-image: radial-gradient(circle 548px at 89.05% 41.15%, #ffff4f 0%, rgba(254,255,39,0) 100%);
  top: calc(100% - 394px);
  }

.page-hero:before, .page-hero:after {
  content: '';
  opacity: 0.2;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 50%;
  @apply -z-20
  }

/* Modal styles https://www.tailwindtoolbox.com/components/modal */
.modal {
  transition: opacity 0.25s ease;
  }

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
  }



  /* Button testing: https://jsfiddle.net/qm1pqunz/53/ */
  .box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid blue;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: blue;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: orange;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }