/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html {
  background: #F5F5F5;
}

body {
  font-family: 'Roboto Slab', serif;
  @apply text-black leading-relaxed;
}

p a {
  @apply font-bold;
  }

p a:hover {text-decoration: underline;}

h1, .h1 {
  @apply text-6xl leading-none font-bold mb-4 mt-6 inline-block;
  }

h2, .h2 {
  @apply text-4xl leading-tight font-bold mb-3 mt-5 inline-block;
  }

h4, .h4 {
  font-family: 'Montserrat', sans-serif;
  @apply text-lg font-semibold;
  }

h5, .h5 {
  font-family: 'Montserrat', sans-serif;
  @apply text-xs tracking-widest uppercase font-medium;
  }

h6, .h6 {
  font-family: 'Montserrat', sans-serif;
  @apply text-sm font-semibold;
  }

.menu a:hover {
  @apply border-black  ;
  }

.breadcrumbs li::after {
  content: "/";
}

.breadcrumbs li:last-child::after {
  content: none;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
