{% include partial/list-features-md.html %}

<div class="bg-gray-900">
  <div class="container flex justify-between items-center py-5 text-gray-300">
    <p class="text-2xl lg:ml-20">
      <a href="*" class="p-2"><i class="fab fa-twitter"></i></a>
      <a href="*" class="p-2"><i class="fab fa-behance"></i></a>
      <a href="*" class="p-2"><i class="fab fa-dribbble"></i></a>
      <a href="*" class="p-2"><i class="fab fa-instagram"></i></a>
      <a href="*" class="p-2"><i class="fab fa-youtube"></i></a>
    </p>
    <p class="text-sm">&copy; Corbin Featherstone {{ 'now' | date: "%Y" }}</p>
  </div>
</div>

</body>

</html>
