<!doctype html>
<html class="no-js" xmlns="//www.w3docs.com/2014/xhtml" lang="en" xml:lang="en">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115873091-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115873091-1');
</script>

<!-- Meta Data -->
  <title>Corbin Featherstone | Graphic Design & Brand Development</title>
  <meta name="Description" content="Corbin is an experienced Graphic Designer with a long history delivering exceptional, persistent visuals for your brand, across multiple platforms.">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Links -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <script src="https://kit.fontawesome.com/d81609fe66.js" crossorigin="anonymous" integrity="sha384-PotPUHUhnCXlBmRqD3pJ6+tEskeVADWYTNBqHTPVyT8dylC/qriVjji9tRDv7xff"></script>

<!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#fec82a">
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#fec82a">
  <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#fec82a">

</head>

<body>
