
<!-- Top-menu -->
<nav id="navbar" class="fixed top-0 px-4 z-40 w-full">
  <div class="flex items-center justify-between ">
    <!-- Logos -->
    <a class="inline-block ml-4 px-5 pt-12 pb-5 bg-black" href="/">
      <img class="" style="width:36px;" src="/assets/alignleft_logo.svg" alt="Corbin Featherstone, Graphic Designer, Hawkes Bay, New Zealand" aria-label="Corbin Featherstone, Graphic Designer, Hawkes Bay, New Zealand.">
    </a>
    <!-- Main Menu -->
    <div class="">
      <ul class="flex menu">
      {% for item in site.data.menu_non.list %}
        <li class="h5 {% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
