
<!-- Top-menu -->
<nav id="navbar" class="fixed top-0 px-4 z-40 w-full">
  <div class="flex items-center justify-between ">
    <!-- Logo -->
    <a class="cursor-pointer inline-block lg:ml-4 px-3 lg:px-5 pt-8 lg:pt-12 pb-3 lg:pb-5 bg-black" href="/">
      <img class="w-6 md:w-9" src="/assets/alignleft_logo.svg" alt="Align Left, graphic design logo" aria-label="Align Left, graphic design logo.">
    </a>
    <!-- Hamburger Menu -->
    <div>
      <div class="box">
        <a class="p-2 lg:p-5 cursor-pointer hamburger text-2xl lg:text-4xl" href="#menu"><i class="fas fa-bars fa-fw"></i></a>
      </div>
      <!-- Overlay -->
      <div id="menu" class="overlay z-50 px-4 fixed top-0 bottom-0 left-0 right-0 bg-primary" >
        <div class="flex items-center justify-between">
          <!-- Overlay Logo -->
          <a class="cursor-pointer inline-block lg:ml-4 px-3 lg:px-5 pt-8 lg:pt-12 pb-3 lg:pb-5 bg-black" href="/">
            <img class="w-9" src="/assets/alignleft_logo.svg" alt="Align Left, graphic design logo" aria-label="Align Left, graphic design logo.">
          </a>
          <!-- Close menu icon -->
          <a class="close p-2 lg:p-5 cursor-pointer text-2xl lg:text-4xl" href="#"><i class="fas fa-times fa-fw" data-fa-transform="grow-2"></i></a>
        </div>
        <!-- Menu items -->
        <div class="items-center pt-20">
          {% for item in site.data.menu.list %}
            <h1 class="w-full text-center hover:underline"><a href="{{ item.url }}">{{ item.title }}</a></h1>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>
