<!-- ### MENU ### -->

<!-- Top-menu -->
<nav id="navbar" class="fixed px-3 py-2 z-30 w-full">

  <div class="flex items-center justify-between ">

    <!-- Top-menu Logos -->
    <a href="/"><img class="w-32" src="/assets/logo.svg" alt="Corbin Featherstone, New Zealand Graphic Design" aria-label="Senior Graphic Designer, New Zealand. Corbin Featherstone website logo"></a>

    <div class="phone-call md:hidden w-1/2 mx-auto">
      <a class="bg-grey-darkest hover:bg-grey-darker block pt-2 pb-1 rounded text-center" href="tel:1234556789" aria-label="Contact Corbin Featherstone by phone">phone</a>
    </div>


    <!-- Top-menu buttons -->
    <div class="ml-auto">
      <ul class="flex text-sm tracking-widest uppercase" style="font-family: 'Montserrat', sans-serif;">
      <li><a href="/about" class="text-black px-4 py-10">About</a></li>
      <li><a href="/contact" class="text-black px-4 py-10">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>
