<picture>
  <source
    data-srcset="{{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% xl-w %}&h={% xl-h %} 1x,
                {{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% xl-w %}&h={% xl-h %} 2x"
    media="(min-width: 1200px)"
    alt="{% alt %}"
    class="align-bottom {% class %}"
  >
  <source
    data-srcset="{{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% lg-w %}&h={% lg-h %} 1x,
                {{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% lg-w %}&h={% lg-h %} 2x"
    media="(min-width: 992px)"
    alt="{% alt %}"
    class="align-bottom {% class %}"
  >
  <source
    data-srcset="{{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% md-w %}&h={% md-h %} 1x,
                {{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% md-w %}&h={% md-h %} 2x"
    media="(min-width: 768px)"
    alt="{% alt %}"
    class="align-bottom {% class %}"
  >
  <img data-src="{{ site.url }}/assets/img/{% path %}?nf_resize=smartcrop&w={% xl-w %}&h={% xl-h %}"
    alt="{% alt %}"
    class="lazyload align-bottom {% class %}"
  >
</picture>
