<picture>
  <source
    srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.xl }}"
    media="(min-width: 1280px)"
  >
  <source
    srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.lg }}"
    media="(min-width: 1024px)"
  >
  <source
    srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.md }}"
    media="(min-width: 769px)"
  >
  <source
    srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.sm }}"
    media="(max-width: 768px)"
  >
  <img src="{{ site.url }}/assets/img/{{ include.path }}?nf_resize=fit&w=20"
    alt="{% if include.imgalt %}{{ include.imgalt }}{% else %}Graphic Design Portfolio Work by Corbin Featherstone{% endif %}"
    class="{{ include.class }}"
  >
</picture>
