<div class="relative" style="background-image: url({{ site.url }}/assets/img/{{ include.path }}?nf_resize=fit&w=20); background-size: cover;">

  <div class="pt-full">
  <!-- <div style="padding-top: {{100.0 / aspectRatio}}%;"> Idea for resizing frame dynamically. Should probably set up a fixed set of dimensions for a specific gallery size, then link to a data file. -->

    <picture class="absolute left-0 top-0 w-full">
      <source
        srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.xl }} 1x,
                {{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.xl }} 2x"
        media="(min-width: 1280px)"
      >
      <source
        srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.lg }} 1x,
                {{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.lg }} 2x"
        media="(min-width: 1024px)"
      >
      <source
        srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.md }} 1x,
                {{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.md }} 2x"
        media="(min-width: 769px)"
      >
      <source
        srcset="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.sm }} 1x,
                {{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.sm }} 2x"
        media="(max-width: 768px)"
      >
      <img src="{{ site.url }}/assets/img/{{ include.path }}?nf_resize={{ include.resize }}&{{ include.xl }}"
        alt="{{ include.alt }}"
        class="{{ include.class }}"
        loading="lazy"
      >
    </picture>

  </div>
</div>
