---
layout: default
permalink: /work/
---

<div class="h-screen w-full bg-primary">

  {% include menu.html %}

  <div class="container">

    <span class="h1">Work</span>

    <ul>
      {% assign rando = site.work | sample:2 %}
      {% for work in rando %}
        <li>
          <a href="{{ work.url }}">{{ work.title }} </a>
        </li>
      {% endfor %}
    </ul>

    <div class="flex flex-wrap">
        {% assign portcat = site.work | where: "tags", "work" | sample:3 %}
        {% for work in portcat %}
            <a href="{{ work.url }} ">
              {% include partial/img.html
                path=work.imghero
                resize="smartcrop"
                xl="w=200&h=200"
                lg="w=200&h=200"
                md="w=200&h=200"
                sm="w=200&h=200"
                class="p-2 m-4 bg-white"
              %}
            </a>
        {% endfor %}
    </div>

<div class="flex flex-wrap">

    {% for work in site.work %}
        <a href="{{ work.url }}">
          {% include partial/img.html
            path=work.imghero
            resize="smartcrop"
            xl="w=230&h=230"
            lg="w=230&h=230"
            md="w=230&h=230"
            sm="w=230&h=230"
            class="p-2 m-4 bg-white"
          %}
        </a>
    {% endfor %}
</div>

<div class="">
  {% assign posts = site.posts | sample:3 %}
  {% for post in posts %}
  <h2 class="p2">{{ post.title }}</h2>
  {% endfor %}
</div>

  </div>

</div>


<div class="container">

</div>
