---
---

{% include header.html %}

<div class="w-full bg-primary pb-64">

  {% include menu.html%}

</div>

{% if page.categories contains "compare" %}

<div class="container mx-auto px-4">
{% include part/img_compare.html resize="" xl="w=" lg="w=" md="w=" sm="w=" alt="" class="" %}
</div>

{% else %}

<!-- Hero Image -->
<div class="container mx-auto px-4 -mt-32">
  <picture>
    <source
      srcset="{{ site.url }}/assets/img/portfolio/{{ page.img }}?nf_resize=fit&w=1300"
      media="(min-width: 1280px)"
    >
    <source
      srcset="{{ site.url }}/assets/img/portfolio/{{ page.img }}?nf_resize=fit&w=1300"
      media="(min-width: 1024px)"
    >
    <source
      srcset="{{ site.url }}/assets/img/portfolio/{{ page.img }}?nf_resize=fit&w=1300"
      media="(min-width: 769px)"
    >
    <source
      srcset="{{ site.url }}/assets/img/portfolio/{{ page.img }}?nf_resize=fit&w=1300"
      media="(max-width: 768px)"
    >
    <img src="{{ site.url }}/assets/img/portfolio/{{ page.img }}?nf_resize=fit&w=20"
      alt="{% if include.imgalt %}{{ include.imgalt }}{% else %}Graphic Design Portfolio Work by Corbin Featherstone{% endif %}"
      class="p-2 bg-white shadow rounded"
    >
  </picture>
</div>
<!-- Close Hero image -->

{% endif %}

<div class="container mx-auto px-4">
  <h1 class="">{{ page.title }}</h1>
  <div class="flex flex-wrap">

    <div class="w-full lg:w-3/4">
      <div class="leading-loose pr-10">

        {{ content }}



      </div>
    </div>
    <div class="w-1/4">
      <p class="font-bold text-lg">Lorem ipsum</p>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="font-bold text-lg pt-2">Lorem ipsum</p>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="font-bold text-lg pt-2">Lorem ipsum</p>
      <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

<!-- More Portfolio Links -->
  <div class="flex flex-wrap my-16">
    {% assign more = site.portfolio | sample:4 %}
    {% for portfolio in more %}
          <a href="{{ portfolio.url }}">
            {% include part/img_port_gallery.html
              resize="smartcrop"
              xl="w=220&h=220"
              lg="w=220&h=220"
              md="w=220&h=220"
              sm="w=220&h=220"
              class="p-2 mr-6 bg-white rounded shadow-md"
            %}
          </a>
      {% endfor %}
  </div>
<!-- Close More Portfolio Links -->

</div>

{% include footer.html %}
