---
---

{% include header.html %}
{% include menu.html%}

<main class="grow">
<div class="w-full -z-20 pt-32">
  <!-- Work information -->
  <div class="container xl:py-20 lg:py-10 py-5 z-20 flex flex-wrap justify-between items-center">
  
  <!-- Breadcrumbs, tags and blurb-->
    <div class="w-full lg:w-1/2">
        <!-- tags -->
        <ul class="-ml-3 breadcrumbs flex flex-wrap">
        {% for tag in page.tags %}
          <li><a href="{{ site.url }}/tag/{{ tag }}" class="my-1 text-mid text-sm px-3 py-1 hover:underline">{{ tag }}</a></li>
        {% endfor %}
        </ul>
      <h1 class="my-2">{{ page.title }}</h1>
      <h5 class="my-2"><i class="far fa-clock"></i> 6hr</h5>
      
    </div>

    <!-- Details -->
    <div class="w-full lg:w-1/2">    
      <div class="lg:border-l lg:pl-20 py-8">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

</div>

<!-- Main Content -->
<div class="container flex flex-wrap z-30">
  <!-- Body -->
  <div class="w-full">
    <div class="">
    <!-- Compare Image -->

        <!-- Hero Image -->
        <div class="-mt-20 border border-white shadow-md bg-lighter mb-6">
        {% include partial/img.html path=page.imghero resize="smartcrop" xl="h=650&w=1300" lg="h=650&w=1100" md="h=1200&w=1100" sm="h=1600&w=800" alt=page.imgalt class="" %}
        </div>


        {{ content }}

      <!-- More Work Links -->
      <h2 class="mt-10">More Work</h2>
      <div class="flex flex-wrap mb-20">
        {% assign more = site.work | sample:4 %}
        {% for work in more %}
        <a href="{{ work.url }}">
          {% include partial/img.html path=work.imghero resize="smartcrop" xl="w=160&h=200" lg="w=160&h=200" md="w=160&h=200" sm="w=160&h=200" alt="" class="border border-white hover:border-dark hover:shadow-lg mr-6 shadow-md" %}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

</div> <!-- /Main Content -->
</main>

{% include footer.html %}
