/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: 'Roboto Slab', serif;
  background: #eee;
  @apply text-black;
}

h1, .h1 {
  @apply text-6xl leading-tight font-bold mb-2 mt-4 inline-block;
}

h2, .h2 {
  @apply text-4xl leading-tight font-bold mb-2 mt-3 inline-block;
}

h5, .h5 {
  font-family: 'Montserrat', sans-serif;
  @apply text-xs tracking-widest uppercase;
}

.menu a {
  @apply text-black py-2 mx-4 text-sm tracking-wider uppercase ;
}

.menu a:hover {
  @apply border-black border-b-4 ;
}

.menu li.active a {
  @apply border-black border-b-4;
}
